body{
    position: relative;
}

.rectangle{
    height: 200px;
    width: 300px;
    border-radius: 16px;
}

.bg-color-1{
    background-color: #D8421B;
}

.bg-color-2{
    background-color: #BB7F54;
}

.position-abs{
    position: absolute;
}

.resize-1{
    top: 300px;
    left: 500px;
}

.resize-2{
    top: 140px;
    left: 250px;
}